<footer class="site-footer">

  <div class="wrapper">

  <!--
    <h2 class="footer-heading">{{ site.title }}</h2>
    <hr class="separator"/>
    -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="/about/"><h2 class="footer-heading">About</h2></a>
        <p>{{ site.description }}</p>
      </div>
      <div class="footer-col footer-col-2">
        <a href="/books/"><h2 class="footer-heading">Books</h2></a>
        {% include book-list.html %}
      </div>

      <div class="footer-col footer-col-3">
        <a href="http://annamc.com/news"><h2 class="footer-heading">Follow Anna</h2></a>
        {% include footer-social-media-list.html %}
      </div>

      <div class="footer-col footer-col-4">
        

        <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//annamcilwraith.us12.list-manage.com/subscribe/post?u=cfb5d729030b1724bdda2bed5&amp;id=2b8865c8a0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <h2>Sign up for news</h2>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address </label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email@example.com">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cfb5d729030b1724bdda2bed5_2b8865c8a0" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button book-detail-cta"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->
      </div>
    </div>
    <!--
    <div>
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>
    -->
    <div class="copyright-notice">


      <ul>
      {% assign pages = site.pages | sort: 'page_rank' %}
        {% for my_page in pages %}
          {% if my_page.title != null and my_page.footer_links != null %}
          <li>
            <a href="{{ my_page.url | prepend: site.baseurl }}">
              {{ my_page.title }}
            </a>
          </li>
          {% endif %}
        {% endfor %}

      </a>
    </div>

  </div>

</footer>
