{% if site.social-media-links.twitter %}<a href="https://www.twitter.com/{{ site.social-media-links.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}

{% if site.social-media-links.facebook %}<a href="https://www.facebook.com/{{ site.social-media-links.facebook }}"><i class="fa fa-facebook"></i></a>{% endif %}

{% if site.social-media-links.instagram %}<a href="https://instagram.com/{{ site.social-media-links.instagram }}"><i class="fa fa-instagram"></i></a>{% endif %}

{% if site.social-media-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i></a>{% endif %}

{% if site.social-media-links.youtube %}<a href="https://youtube.com/{{ site.social-media-links.youtube }}"><i class="fa fa-youtube"></i></a>{% endif %}

{% if site.social-media-links.googleplus %}<a href="https://plus.google.com/{{ site.social-media-links.googleplus }}"><i class="fa fa-googleplus"></i></a>{% endif %}

{% if site.social-media-links.tumblr %}<a href="http://blog.{{ site.social-media-links.tumblr }}.com/"><i class="fa fa-tumblr"></i></a>{% endif %}

{% if site.social-media-links.amazon %}<a href="https://www.amazon.com/{{ site.social-media-links.amazon }}"><i class="fa fa-amazon"></i></a>{% endif %}