---
layout: default
---
<article class="post" id="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <hr class="separator" />
  </header>

  <div class="book-detail-wrapper">
	  <div class="book-detail book-detail-col1">
		<div class="book-image-container" style="background: url('{{ page.hero_col }}'); background-size: cover;">
		  <a class="image-popup-fit-width" href="{{ site.baseurl }}{{ page.hero_full_res | prepend: site.basebookimgurl }}">
		  	<img src="{{ site.baseurl }}{{ page.hero_med_res | prepend: site.basebookimgurl}}" alt="{{ page.hero_desc }}" title="{{ page.hero_desc }}"/>
		  </a>
		</div>
	  {% if page.cta_text %}
      <a href="{{ page.cta_link }}">
	  	<button class="book-detail-cta" />
	  		{{ page.cta_text }}
	  	</button>
	  </a>
	  {% endif %}
	  </div>
	  <div class="book-detail book-detail-col2">
	    {{ content }}
	  </div>
  </div>
</article>